@charset "utf-8";
/* CSS Document */

body
{
    font-size: 16px;
}
#registerForm .ui-btn
{
    display: none;
}

#stats
{
    float: left;
    width: 80%;
}

#level
{
    float: left;
    width: 20%;
}

#monsterContainer
{
    clear: left;
    position: relative;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#volledigLeven
{
    clear: left;
    position: relative;
    margin-left: auto;
    margin-right: auto;
	width:100%;
	background-color:red;
	height:20px;
}
#huidigLeven
{
	width:100%;
	background-color:green;
	height:20px;
}

#monster
{
    clear: left;
    position: relative;
	width:100%;
}

#mob
{
    clear: left;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
}

#leven
{
    clear: left;
    text-align: center;
}

#stage
{
    text-align: center;
}

.fullWidth
{
    float: left;
    width: 100%;
}

.halfWidth
{
    float: left;
    width: 50%;
}

.fourthWidth
{
    float: left;
    width: 25%;
}


body
{
    font-size: 20px;
    font-family: sans-serif;
    color:#303030;
}
.HeroContainer
{
	width:100%;
	float:left;
	background-color:#0CF;
}

.HeroHeader
{
	background-color:#efefef;
	color:#232323;
	width:100%;
	float:left;
    text-align: center;
    font-weight: bold;
    border: 3px solid #232323;
}

.HeroHeader p
{
	padding:5px;
}

.HeroBody
{
	background-color:white;
	color:#353535;
	width:100%;
	float:left;
}
.HeroBody p 
{
	padding:5px;
}

@media screen and (min-width: 751px) and (max-width: 1020px) { 
    
    #monsterContainer
    {
        clear: left;
        position: relative;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 501px) and (max-width: 750px) { 
    
    #monsterContainer
    {
        clear: left;
        position: relative;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    #stats
    {
        float: left;
        width: 100%;
    }

    #level
    {
        float: left;
        width: 100%;
    }
    h3
    {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 500px) {
    #monsterContainer
    {
        clear: left;
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #stats
    {
        float: left;
        width: 100%;
    }

    #level
    {
        float: left;
        width: 100%;
    }
    h3
    {
        font-size: 0.8em;
    }
}
